body{
    background-color: rgba(165, 42, 42, 0.623);
}
ul{
    text-align: center;
}
li{
    border: 1px solid black;
    display: inline;
    margin: 2px;
    padding-inline-end: 2px;
}
about.html
body {
    background-color: blue;
    text-align: center;
}